{
  "client_id": "",
  "client_secret": "",
  "auth_uri": "https://idaas.reniec.gob.pe/service/auth",
  "token_uri": "https://idaas.reniec.gob.pe/service/token",
  "userinfo_uri": "https://idaas.reniec.gob.pe/service/userinfo",
  "logout_uri": "https://idaas.reniec.gob.pe/service/logout",
  "auth_provider_keys_uri": "https://idaas.reniec.gob.pe/service/certs",
  "redirect_uris": [],
  "javascript_origins": []
}